:root {
  --primary-text-color: black;
  --marginals-background-color: #333;
  --marginals-text-color: white;
  --main-background-color: #c5c5c5;
  --secondary-background-color: #e4e4e4;
  --display-sidebar-color: #333;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

.fullApp {
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  display: grid;
  grid-template: 100px 1fr 40px / 1fr;
}

header {
  grid-area: 1/1/2/2;
  background-color: var(--marginals-background-color);
  color: var(--marginals-text-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  padding: 0 8px;
  z-index: 50;
}

.headerContent {
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.headerContent h1 {
  font-size: 3rem;
}

main {
  grid-area: 2/1/3/2;
  background-color: var(--main-background-color);
  padding: 30px;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 40px;
  overflow: hidden;
}

.CVForm {
  padding: 20px;
}

.CVForm,
.CVDisplay {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--secondary-background-color);
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.CVForm input,
.CVForm label,
.CVForm textarea,
.CVForm p {
  display: block;
  width: 100%;
}

.CVForm label {
  margin-top: 8px;
}

.CVForm .entry {
  outline: none;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
}

.CVForm textarea {
  resize: none;
}

.CVForm .entry:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.CVForm .entry:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.CVForm #infoAvatar {
  padding: 4px 8px;
}

.CVForm ::file-selector-button {
  outline: none;
  border: solid 1px black;
  border-radius: 6px;
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}

.CVForm ::file-selector-button:hover {
  filter: brightness(.85);
}

.CVForm ::file-selector-button:active {
  filter: brightness(1);
}

.personalInfo,
.experienceHistory,
.educationHistory {
  margin-top: 10px;
  margin-bottom: 50px;
}

.personalInfo p,
.experienceHistory > p,
.educationHistory > p {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-decoration: underline;
}

.infoForm {
  border: 1px solid black;
  padding: 12px;
  border-radius: 8px;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.addExpBtn,
.addEduBtn {
  position: relative;
  border: none;
  background-color: var(--marginals-background-color);
  filter: opacity(.8);
  padding: 6px 18px;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}

.addExpBtn:hover,
.addEduBtn:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 4px 10px rgb(0 0 0 / 20%);
  filter: opacity(1);
}

.addExpBtn:active,
.addEduBtn:active {
  box-shadow: none;
  transform: translateY(2px);
  filter: opacity(1);
}

.experienceForm > p,
.educationForm > p {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
}

.experienceForm,
.educationForm {
  margin-bottom: 30px;
  position: relative;
  border: 1px solid black;
  padding: 12px;
  border-radius: 8px;
}

.deleteBtn {
  width: 45px;
  height: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  border-radius: 50%;
}

.deleteBtn:hover {
  scale: 1.05;
}

.deleteBtn:active {
  transform: translateY(1px);
}

.CVDisplay {
  display: grid;
  grid-template: 1fr / 1fr 2.5fr;
}

.CVDisplay > p {
  word-wrap: break-word;
}

.displaySidebar,
.displayContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.displaySidebar {
  background-color: var(--display-sidebar-color);
  color: var(--marginals-text-color);
  justify-content: space-between;
}

.displayContent {
  color: var(--display-sidebar-color);
  justify-content: space-between;
}

.avatarContainer {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.userAvatar,
.stockAvatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.userAvatar {
  margin-top: -40px;
}

.stockAvatar {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7454%) hue-rotate(268deg) brightness(118%) contrast(101%);
}

.sidebarWebsite a,
.infoDescription {
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.sidebarWebsite a:link,
.sidebarWebsite a:visited,
.sidebarWebsite a:active {
  text-decoration: underline;
  color: var(--marginals-text-color);
}

.sidebarWebsite a:hover {
  filter: brightness(.8);
}

.expDescription,
.infoDescription {
  white-space: pre-wrap;
}

.sidebarDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20px;
}

.sidebarDescription h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

.displaySidebar hr {
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  width: 80%;
  align-self: center;
}

.displayContent hr {
  height: 1px;
  border: none;
  background-color: rgba(51, 51, 51, 0.3);
  width: 90%;
  align-self: center;
}

.sidebarContact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.contactImgContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contentName {
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.experienceDisplay,
.educationDisplay {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
}

.experienceDisplay {
  padding-bottom: 40px;
}

.experienceDisplay h1,
.educationDisplay h1 {
  font-size: 1.4rem;
}

.expDisplayItem,
.eduDisplayItem {
  display: grid;
  grid-template: 1fr / 1fr 2fr;
}

.expDisplayLeft,
.eduDisplayLeft {
  padding-right: 20px;
}

.expDisplayRight,
.eduDisplayRight {
  border-left: rgba(51, 51, 51, 0.3) double 4px;
  padding-left: 20px;
}

.expCompany,
.eduSchool,
.expTitle,
.eduDegree {
  font-weight: 700;
  margin-bottom: 5px;
}

.expDisplayDates,
.eduDisplayDates,
.expLocation,
.eduLocation,
.expDescription {
  font-size: .9rem;
  padding-left: 8px;
}

.eduDisplayRight {
  display: flex;
  align-items: center;
}

.expLocation,
.eduLocation {
  margin-bottom: 5px;
}

footer {
  grid-area: 3/1/4/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--marginals-background-color);
  color: var(--marginals-text-color);
}

footer a:link,
footer a:visited,
footer a:active {
  padding: 2px;
  text-decoration: none;
  color: var(--marginals-text-color);
  font-weight: 700;
}

footer a:hover {
  filter: brightness(.8);
}

@media only screen and (max-width: 1500px) {
  main {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .CVForm,
  .CVDisplay {
    overflow-x: visible;
    overflow-y: visible;
  }

  .CVDisplay {
    max-width: 1000px;
    margin: 0 auto;
  }
}