:root {
  --primary-text-color: black;
  --marginals-background-color: #333;
  --marginals-text-color: white;
  --main-background-color: #c5c5c5;
  --secondary-background-color: #e4e4e4;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

.fullApp {
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  display: grid;
  grid-template: 100px 1fr 40px / 1fr;
}

header {
  grid-area: 1/1/2/2;
  background-color: var(--marginals-background-color);
  color: var(--marginals-text-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  padding: 0 8px;
  z-index: 50;
}

.headerContent {
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.headerContent h1 {
  font-size: 3rem;
}

main {
  grid-area: 2/1/3/2;
  background-color: var(--main-background-color);
  padding: 30px;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 40px;
  overflow: hidden;
}

.CVForm,
.CVDisplay {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  background-color: var(--secondary-background-color);
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.CVForm input,
.CVForm label,
.CVForm textarea,
.CVForm p {
  display: block;
  width: 100%;
}

.CVForm label {
  margin-top: 8px;
}

.CVForm .entry {
  outline: none;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
}

.CVForm textarea {
  resize: none;
}

.CVForm .entry:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.CVForm .entry:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.CVForm #infoAvatar {
  padding: 4px 8px;
}

.CVForm ::file-selector-button {
  outline: none;
  border: solid 1px black;
  border-radius: 6px;
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}

.CVForm ::file-selector-button:hover {
  filter: brightness(.85);
}

.CVForm ::file-selector-button:active {
  filter: brightness(1);
}

.personalInfo,
.experienceHistory {
  margin-top: 10px;
  margin-bottom: 50px;
}

.personalInfo p,
.experienceHistory > p {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-decoration: underline;
}

.experienceForm > p {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

.experienceForm {
  margin-bottom: 30px;
}

footer {
  grid-area: 3/1/4/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--marginals-background-color);
  color: var(--marginals-text-color);
}

footer a:link,
footer a:visited,
footer a:active {
  padding: 2px;
  text-decoration: none;
  color: var(--marginals-text-color);
  font-weight: 700;
}

footer a:hover {
  filter: brightness(.8);
}